.toDoApp {
  min-width: 90vw;
  height: 90vh;
  .searchBar {
    display: flex;
    justify-content: center;
    padding: 7vh 2vw 1vh 2vw;
    .searchField {
      width: 70vw;
    }
  }
  .addBar {
    height: 10vh;
    display: flex;
    justify-content: center;
    padding: 1vh 2vw 1vh 2vw;
    .addField {
      width: 50vw;
      padding-right: 10vw;
    }
  }
}
.showToDo {
}
.taskHolder {
  display: flex;
  justify-content: space-around;
  height: 60vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .toDoApp {
    width: 65vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .toDoApp {
    width: 50vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
