.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.main {
  display: grid;
  justify-content: center;
  height: 85vh;
  overflow-y: scroll;
  width: 100vw;
}

.footer {
  width: 100vw;
  height: 10vh;
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  background-color: #b1d6ea;
  padding: 1vh 2vw 1vh 2vw;
  .socials {
    display: flex;
    justify-content: space-around;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
